<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar class="space-between">
      <div id="layout-title-container">
        <h1>Cyan</h1>
        <h1 id="layout-title-kanji">白庭</h1>
      </div>
      <!-- <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="currentPage !== 'Home'"
      >
        <mat-icon aria-label="Side nav toggle icon"
          >arrow_back_ios_new</mat-icon
        >
      </button> -->
    </mat-toolbar>
    <mat-nav-list id="main-nav">
      <a
        mat-list-item
        routerLink="home"
        (click)="
          setCurrentPage('Home', '/assets/zen-wide1.png', '0 50%', 'black')
        "
        ><span>庭</span><span class="main-nav-item">Home</span></a
      >
      <a
        mat-list-item
        routerLink="projects"
        (click)="
          setCurrentPage(
            'Coding Projects 工',
            '/assets/zen-wide1.png',
            '0 50%',
            'black'
          )
        "
        ><span>工</span><span class="main-nav-item">Code</span></a
      >
      <a
        mat-list-item
        routerLink="designs"
        (click)="
          setCurrentPage(
            'A.I. Art 芸',
            '/assets/kyoto-wide1.png',
            '0 23%',
            'white'
          )
        "
        ><span>芸</span><span class="main-nav-item">A.I. Art</span></a
      >
      <a
        mat-list-item
        routerLink="music"
        (click)="
          setCurrentPage('Music 楽', '/assets/girl-wide1.png', '0 5%', 'white')
        "
        ><span>楽</span><span class="main-nav-item">Music</span>
      </a>
      <!-- <a
        mat-list-item
        routerLink="photos"
        (click)="
          setCurrentPage(
            'Photography 絵',
            '/assets/castle1.png',
            '0 30%',
            'white'
          )
        "
        ><span>絵</span><span class="main-nav-item">Photography</span>
      </a> -->
      <!-- <a
        mat-list-item
        routerLink="algorithms"
        (click)="
          setCurrentPage(
            'Algorithms 法',
            '/assets/zen-wide2.png',
            '0 50%',
            'black'
          )
        "
        ><span>法</span><span class="main-nav-item">Algorithm</span>
      </a> -->
      <!-- <a
        mat-list-item
        routerLink="blog"
        (click)="
          setCurrentPage('Explore 旅', '/assets/castle2.png', '0 15%', 'white')
        "
        ><span>旅</span><span class="main-nav-item">Explore</span>
      </a> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content (scroll)="onScroll($event)">
    <mat-toolbar
      color="primary"
      id="top-container"
      [ngStyle]="{ display: currentPage === 'Home' ? 'none' : 'flex' }"
    >
      <!-- *ngIf="currentPage !== 'Home'" -->
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="!drawer.opened"
        id="top-sidebar-toggle"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span id="top-title">{{ currentPage }}</span>
    </mat-toolbar>
    <div id="main-content-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
