<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar class="space-between">
      <span>Cyan Zen Garden</span>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="currentPage !== 'Home'"
      >
        <mat-icon aria-label="Side nav toggle icon"
          >arrow_back_ios_new</mat-icon
        >
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="home" (click)="setCurrentPage('Home')"
        >Home <span>庭</span></a
      >
      <a
        mat-list-item
        routerLink="projects"
        (click)="setCurrentPage('Projects')"
        >Code <span>工</span></a
      >
      <a mat-list-item routerLink="designs" (click)="setCurrentPage('Designs')"
        >Art <span>芸</span></a
      >
      <a
        mat-list-item
        routerLink="algorithms"
        (click)="setCurrentPage('Algorithms')"
        >Algorithm <span>法</span></a
      >
      <a mat-list-item routerLink="photos" (click)="setCurrentPage('Photos')"
        >Photography <span>絵</span></a
      >
      <a mat-list-item routerLink="blog" (click)="setCurrentPage('Blog')"
        >Explore <span>旅</span></a
      >
      <a mat-list-item routerLink="music" (click)="setCurrentPage('Music')"
        >Music <span>楽</span></a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar
      color="primary"
      id="top-container"
      *ngIf="currentPage !== 'Home'"
    >
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="!drawer.opened"
        id="top-sidebar-toggle"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span id="top-title">{{ currentPage }}</span>
    </mat-toolbar>
    <div id="main-content-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
