@import '../../sass/fonts.scss';
@import '../../sass/colors.scss';

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 15%;
  box-shadow: 1px 0px 4px rgba(62, 62, 62, 0.452);
}

.sidenav .mat-toolbar {
  background: inherit;
  justify-content: center;
}

.mat-toolbar.mat-primary {
  position: fixed;
  width: 85%;
  top: 0;
  z-index: 1;
  box-shadow: 0px -1px 4px rgba(62, 62, 62, 0.452) inset;
  height: 150px;
  transition: height 0.2s ease-in-out;
}

mat-sidenav-content {
  margin-left: 15% !important;
}

#main-content-container {
  padding-top: 150px;
  background-color: $background-grey;
}

#top-title {
  margin-left: 2rem;
  width: 100%;
  text-align: center;
  font-family: $secondary-font;
  font-size: 2rem;
  font-weight: 600;
  color: black;
  transition: font-size 0.1s;
}

#top-sidebar-toggle {
  position: absolute;
}

#top-container {
  background-image: url('../../../assets/zen-wide1.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0 50%;
}

#layout-title-container {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-column-gap: 0.5rem;
  align-items: center;

  h1 {
    font-family: $secondary-font;
    font-size: 1.5rem;
    font-weight: normal;
    text-align: right;
    margin-bottom: 0rem;
  }

  #layout-title-kanji {
    font-size: 1.5rem;
    font-weight: normal;
    color: $secondary-font-color;
  }
}

#main-nav {
  .main-nav-item {
    font-family: $secondary-font;
    font-size: 1.2rem;
    margin-left: 1rem;
  }

  span:nth-child(1) {
    color: $secondary-font-color;
  }
}
