<div id="main-code-conatiner">
  <div class="two-cols-container">
    <div class="two-cols-container-child">
      <mat-card>
        <mat-card-header><h1>JUZGO</h1></mat-card-header>
        <mat-card-content>
          <h2>React, React Native, Firebase, Git</h2>
          <p>
            A housing management mobile application built using React Native.
          </p>
          <div class="image-columns">
            <img mat-card-image src="/assets/code/juzgo1.png" />
            <img mat-card-image src="/assets/code/juzgo2.png" />
            <img mat-card-image src="/assets/code/juzgo3.png" />
          </div>
          <p class="icon-p-center">
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="share"
            ></mat-icon>
            <span
              >See codebase on
              <a href="https://github.com/sean-xiao-zhao7/juzgo"> Github</a>
            </span>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
