<div id="main-designs-conatiner">
  <div class="three-cols-container">
    <div class="three-cols-container-child">
      <mat-card>
        <mat-card-content
          class="card-content-no-padding card-container-content"
        >
          <img mat-card-image src="/assets/designs/design1.png" />
          <p class="icon-p-center">
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="share"
            ></mat-icon>
            <span
              >See codebase on
              <a href="https://github.com/sean-xiao-zhao7/juzgo"> Github</a>
            </span>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="three-cols-container-child">
      <mat-card>
        <mat-card-content
          class="card-content-no-padding card-container-content"
        >
          <img mat-card-image src="/assets/designs/design10.png" />
          <p class="icon-p-center">
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="share"
            ></mat-icon>
            <span
              >See codebase on
              <a href="https://github.com/sean-xiao-zhao7/juzgo"> Github</a>
            </span>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="three-cols-container-child">
      <mat-card>
        <mat-card-content
          class="card-content-no-padding card-container-content"
        >
          <img mat-card-image src="/assets/designs/design9.png" />
          <p class="icon-p-center">
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="share"
            ></mat-icon>
            <span
              >See codebase on
              <a href="https://github.com/sean-xiao-zhao7/juzgo"> Github</a>
            </span>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="three-cols-container-child">
      <mat-card>
        <mat-card-content
          class="card-content-no-padding card-container-content"
        >
          <img mat-card-image src="/assets/designs/design6.png" />
          <p class="icon-p-center">
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="share"
            ></mat-icon>
            <span
              >See codebase on
              <a href="https://github.com/sean-xiao-zhao7/juzgo"> Github</a>
            </span>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="three-cols-container-child">
      <mat-card>
        <mat-card-content
          class="card-content-no-padding card-container-content"
        >
          <img mat-card-image src="/assets/designs/design4.png" />
          <p class="icon-p-center">
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="share"
            ></mat-icon>
            <span
              >See codebase on
              <a href="https://github.com/sean-xiao-zhao7/juzgo"> Github</a>
            </span>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="three-cols-container-child">
      <mat-card>
        <mat-card-content
          class="card-content-no-padding card-container-content"
        >
          <img mat-card-image src="/assets/designs/design5.png" />
          <p class="icon-p-center">
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="share"
            ></mat-icon>
            <span
              >See codebase on
              <a href="https://github.com/sean-xiao-zhao7/juzgo"> Github</a>
            </span>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="three-cols-container-child">
      <mat-card>
        <mat-card-content
          class="card-content-no-padding card-container-content"
        >
          <img mat-card-image src="/assets/designs/design3.png" />
          <p class="icon-p-center">
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="share"
            ></mat-icon>
            <span
              >See codebase on
              <a href="https://github.com/sean-xiao-zhao7/juzgo"> Github</a>
            </span>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="three-cols-container-child">
      <mat-card>
        <mat-card-content
          class="card-content-no-padding card-container-content"
        >
          <img mat-card-image src="/assets/designs/design7.png" />
          <p class="icon-p-center">
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="share"
            ></mat-icon>
            <span
              >See codebase on
              <a href="https://github.com/sean-xiao-zhao7/juzgo"> Github</a>
            </span>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="three-cols-container-child">
      <mat-card>
        <mat-card-content
          class="card-content-no-padding card-container-content"
        >
          <img mat-card-image src="/assets/designs/design2.png" />
          <p class="icon-p-center">
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="share"
            ></mat-icon>
            <span
              >See codebase on
              <a href="https://github.com/sean-xiao-zhao7/juzgo"> Github</a>
            </span>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="three-cols-container-child three-cols-span">
      <mat-card>
        <mat-card-content
          class="card-content-no-padding card-container-content"
        >
          <img mat-card-image src="/assets/designs/design8.png" />
          <p class="icon-p-center">
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="share"
            ></mat-icon>
            <span
              >See codebase on
              <a href="https://github.com/sean-xiao-zhao7/juzgo"> Github</a>
            </span>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
