<div id="main-designs-conatiner">
  <div class="two-cols-container">
    <div class="two-cols-container-child">
      <mat-card>
        <mat-card-content
          class="card-content-no-padding card-container-content"
        >
          <img
            mat-card-image
            src="https://res.cloudinary.com/dvayupwmu/image/upload/v1701900558/designs/design1_jjr2yj.png"
          />
          <p class="icon-p-center">
            Prompt: Artistic manga smiling muscular young black man with short
            beard with baseball cap wearing jacket and white t-shirt , full body
            shot, mech warrior and fire in background, cinematic lightning,
            panoramic, Dragon Ball style
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="two-cols-container-child">
      <mat-card>
        <mat-card-content
          class="card-content-no-padding card-container-content"
        >
          <img
            mat-card-image
            src="https://res.cloudinary.com/dvayupwmu/image/upload/v1701900559/designs/design9_h185hk.png"
          />
          <p class="icon-p-center">
            Prompt: Intricate maximalism manga of full body portrait view of
            angry asian girl with long black hair, eyes closed, cybernetic eye
            visor, cyberpunk jacket, laser katana in hand, large spaceships,
            dark sky and rain in background, Crepuscular Rays, style of Inuyasha
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="two-cols-container-child">
      <mat-card>
        <mat-card-content
          class="card-content-no-padding card-container-content"
        >
          <img
            mat-card-image
            src="https://res.cloudinary.com/dvayupwmu/image/upload/v1701900560/designs/girl-paris3_r6nsv9.png"
          />
          <p class="icon-p-center">
            Prompt: A flat design Cinematic Haze of horizon line of city of
            Paris, foreground a sad blonde girl front face portrait, roses,
            Effiel Tower, Halfrear Lighting, 8k,
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="two-cols-container-child">
      <mat-card>
        <mat-card-content
          class="card-content-no-padding card-container-content"
        >
          <img
            mat-card-image
            src="https://res.cloudinary.com/dvayupwmu/image/upload/v1701900561/designs/design3_ae8ixq.png"
          />
          <p class="icon-p-center">
            Prompt: Ultra realistic photo determined brown young man short black
            beard wearing light pink vest with tattoo on arms standing in water
            at night, side view, full body shot, fire burning in background,
            angelic rays above
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="two-cols-container-child two-cols-span">
      <mat-card>
        <mat-card-content
          class="card-content-no-padding card-container-content"
        >
          <img
            mat-card-image
            src="https://res.cloudinary.com/dvayupwmu/image/upload/v1701900559/designs/design8_vgbest.png"
          />
          <p class="icon-p-center">
            Prompt: Intricate maximalism painting by Alexei Savrasov of
            panoramic view of Neuschwanstein castle in the middle of large
            forest, mountain, cinematic lighting, Crepuscular Rays through the
            clouds, 8k
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="two-cols-container-child two-cols-span">
      <mat-card>
        <mat-card-content
          class="card-content-no-padding card-container-content"
        >
          <img
            mat-card-image
            src="https://res.cloudinary.com/dvayupwmu/image/upload/v1701900558/designs/anime-girl-beach1_ap5cte.png"
          />
          <p class="icon-p-center">
            Prompt: Anime Style by Eiichirō Oda, a young blonde woman wearing
            white summer dress, full body, ocean in the background, dramatic
            lighting, sun rays.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="two-cols-container-child">
      <mat-card>
        <mat-card-content
          class="card-content-no-padding card-container-content"
        >
          <img
            mat-card-image
            src="https://res.cloudinary.com/dvayupwmu/image/upload/v1701900558/designs/design7_jhpq26.png"
          />
          <p class="icon-p-center">
            Prompt: Elegant Acrylic Painting Cinematic Haze of horizon line of
            city of Paris at night, portrait sad girl holding roses portrait
            view, Effiel Tower, Halfrear Lighting, 8k,
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="two-cols-container-child">
      <mat-card>
        <mat-card-content
          class="card-content-no-padding card-container-content"
        >
          <img
            mat-card-image
            src="https://res.cloudinary.com/dvayupwmu/image/upload/v1701900559/designs/girl-rose1_ztcw2p.png"
          />
          <p class="icon-p-center">
            Prompt: 1990s basic ink of a facing left portrait of smiling young
            blonde woman wearing dress with roses in hand, Sunshine Ray, sunrise
            in background, style of Ushio Shinohara,
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="two-cols-container-child two-cols-span">
      <mat-card>
        <mat-card-content
          class="card-content-no-padding card-container-content"
        >
          <img
            mat-card-image
            src="https://res.cloudinary.com/dvayupwmu/image/upload/v1701900566/designs/paris1_va82xd.png"
          />
          <p class="icon-p-center">
            Prompt: A Flat Design Cinematic Haze photo of Horizon Line of
            medieval city, eiffel tower, river, at night, people walking in
            city, Halfrear Lighting, 8k,
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="two-cols-container-child two-cols-span">
      <mat-card>
        <mat-card-content
          class="card-content-no-padding card-container-content"
        >
          <img
            mat-card-image
            src="https://res.cloudinary.com/dvayupwmu/image/upload/v1701900571/designs/toronto1_c8dvm2.png"
          />
          <p class="icon-p-center">
            Prompt: A Flat Design Cinematic Haze photo of Horizon Line of
            medieval city, CN tower, river, at night, people walking in city,
            Halfrear Lighting, 8k,
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="two-cols-container-child">
      <mat-card>
        <mat-card-content
          class="card-content-no-padding card-container-content"
        >
          <img
            mat-card-image
            src="https://res.cloudinary.com/dvayupwmu/image/upload/v1701900567/designs/sci-fi1_xbawtz.png"
          />
          <p class="icon-p-center">
            Prompt: Intricate maximalism manga of portrait front facing 45
            degrees view of cheerful blonde girl, black cyberpunk clothes,
            holding pistol, standing on cliff, large spaceship flying in sky in
            background, cinematic lighting, style of Akira
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="two-cols-container-child">
      <mat-card>
        <mat-card-content
          class="card-content-no-padding card-container-content"
        >
          <img
            mat-card-image
            src="https://res.cloudinary.com/dvayupwmu/image/upload/v1701900563/designs/girl-rose2_w11edu.png"
          />
          <p class="icon-p-center">
            Prompt: 1990s intricate maximalism manga of a full body view of sad
            young blonde woman with sakura in hand, Sunshine Ray, tokyo in
            background, style of Koe no Katachi
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="two-cols-container-child">
      <mat-card>
        <mat-card-content
          class="card-content-no-padding card-container-content"
        >
          <img
            mat-card-image
            src="https://res.cloudinary.com/dvayupwmu/image/upload/v1701900563/designs/girl-rose3_vffnha.png"
          />
          <p class="icon-p-center">
            Prompt: 1990s intricate maxmalism manga of a facing left portrait of
            smiling young blonde woman with roses in hand, Sunshine Ray, sunrise
            in background, style of Koe no Katachi,
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="two-cols-container-child">
      <mat-card>
        <mat-card-content
          class="card-content-no-padding card-container-content"
        >
          <img
            mat-card-image
            src="https://res.cloudinary.com/dvayupwmu/image/upload/v1701900564/designs/kimono-girl2_dfg320.png"
          />
          <p class="icon-p-center">
            Prompt: 1980s elegant Glamor Shot hyperrealistic illustration of
            side view portrait of cheerful asian girl with long straight hair,
            large eyes, wearing kimono, pure white background, cherry blossoms
            branches, Over - Illumination, style of Seth McMahon, 8k,
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="two-cols-container-child two-cols-span">
      <mat-card>
        <mat-card-content
          class="card-content-no-padding card-container-content"
        >
          <img
            mat-card-image
            src="https://res.cloudinary.com/dvayupwmu/image/upload/v1701900566/designs/paris2_wepng5.png"
          />
          <p class="icon-p-center">
            Prompt: A Flat Design Cinematic Haze photo of Horizon Line of
            medieval city, eiffel tower, river, at night, people walking in
            city, Halfrear Lighting, 8k,
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="two-cols-container-child two-cols-span">
      <mat-card>
        <mat-card-content
          class="card-content-no-padding card-container-content"
        >
          <img
            mat-card-image
            src="https://res.cloudinary.com/dvayupwmu/image/upload/v1701900573/designs/wes-anderson1_qtvyfz.png"
          />
          <p class="icon-p-center">
            Prompt: 1970s Cluttered photo of a front view of young brunette
            woman wearing victorian clothes brewing coffee, Under-Illumination,
            Starbucks in background, style of Wes Anderson,
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
