@import '../../sass/fonts.scss';
@import '../../sass/colors.scss';

#main-music-conatiner {
  padding: 1rem;
  display: grid;
  grid-row-gap: 1rem;

  .mat-expansion-panel-body {
    padding: 0;
  }

  .single-track-container {

    iframe {
      border-radius: 0 0 5px 5px;
      width: 100%;
      height: 500px;
    }

    h2 {
      margin: 0;
      font-family: $secondary-font;
    }
  }
}
