<div id="main-music-conatiner">
  <iframe
    width="560"
    height="315"
    src="https://www.youtube-nocookie.com/embed/6YZlFdTIdzM?si=RlIpbgdVSkriyN-5"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
  <iframe
    width="560"
    height="315"
    src="https://www.youtube-nocookie.com/embed/Dx_fKPBPYUI?si=LX59crM72hRAalJh"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
  <iframe
    width="560"
    height="315"
    src="https://www.youtube-nocookie.com/embed/f8aCemLHDdw?si=m8J_8aZxRjyL-Dgx"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
  <iframe
    width="560"
    height="315"
    src="https://www.youtube-nocookie.com/embed/V_cHzP8Uexw?si=P_cbdKzkqcZs8372"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
</div>
