<div id="main-music-conatiner">
  <mat-card class="single-track-container">
    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title><h2>ONE OK ROCK - Clock Strikes</h2></mat-panel-title>
        <mat-panel-description>
          6th Album - 人生×僕= "JINSEI KAKETE BOKU WA"
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <iframe
          src="https://www.youtube-nocookie.com/embed/6YZlFdTIdzM?si=RlIpbgdVSkriyN-5"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe
      ></ng-template>
    </mat-expansion-panel>
  </mat-card>
  <mat-card class="single-track-container">
    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title><h2>米津玄師 - LOSER</h2></mat-panel-title>
        <mat-panel-description>
          5th Single「LOSER / ナンバーナイン」
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <iframe
          src="https://www.youtube-nocookie.com/embed/Dx_fKPBPYUI?si=LX59crM72hRAalJh"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe
      ></ng-template>
    </mat-expansion-panel>
  </mat-card>
  <mat-card class="single-track-container">
    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title><h2>「Story of Hope」- Forever</h2></mat-panel-title>
        <mat-panel-description>
          2016/01/06に全国リリースされる2nd EP「Alethea」
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <iframe
          src="https://www.youtube-nocookie.com/embed/f8aCemLHDdw?si=m8J_8aZxRjyL-Dgx"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe
      ></ng-template>
    </mat-expansion-panel>
  </mat-card>
  <mat-card class="single-track-container">
    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title
          ><h2>神はサイコロを振らない「秋明菊」</h2></mat-panel-title
        >
        <mat-panel-description>
          1st mini album「anfang」
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <iframe
          src="https://www.youtube-nocookie.com/embed/V_cHzP8Uexw?si=P_cbdKzkqcZs8372"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe
      ></ng-template>
    </mat-expansion-panel>
  </mat-card>
  <mat-card class="single-track-container">
    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title><h2>みきなつみ「君へ送る唄」</h2></mat-panel-title>
        <mat-panel-description>
          2018/3/14発売ミニアルバム『きみとわたしとメロンソーダ』収録曲
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <iframe
          src="https://www.youtube-nocookie.com/embed/RUfGuWeFcQY?si=hyeXC0dqQXS7a7Hw"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe
      ></ng-template>
    </mat-expansion-panel>
  </mat-card>
  <mat-card class="single-track-container">
    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title><h2>SECONDWALL "言葉"</h2></mat-panel-title>
        <mat-panel-description>
          会場限定シングル 『ゼロ』 9月23日
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <iframe
          src="https://www.youtube-nocookie.com/embed/E7I7nREchHc?si=T_QnBx7HmdI4BVMw"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe
      ></ng-template>
    </mat-expansion-panel>
  </mat-card>
  <mat-card class="single-track-container">
    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title
          ><h2>Dizzy Sunfist "Into The Future“</h2></mat-panel-title
        >
        <mat-panel-description>
          Dizzy Sunfist 最高傑作2nd Full Album[DREAMS NEVER END]
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <iframe
          src="https://www.youtube-nocookie.com/embed/b4lYvHE_cvM?si=mUrtqIngQqenWypR"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe
      ></ng-template>
    </mat-expansion-panel>
  </mat-card>
  <mat-card class="single-track-container">
    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title><h2>nolala 「グッバイライアー」</h2> </mat-panel-title>
        <mat-panel-description>
          1st Single『グッバイライアー』より、
          「グッバイライアー」のミュージックビデオ公開！
          京都発ツインボーカルスリーピースガールズバンド: nolala(のらら)
          メンバー Gt.Vo.千陽 Ba.Vo.美寿々 Dr.Cho.ひな
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <iframe
          src="https://www.youtube-nocookie.com/embed/uAXIaft7fwI?si=Ko08gKAOQWRqVbJC"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe
      ></ng-template>
    </mat-expansion-panel>
  </mat-card>
  <mat-card class="single-track-container">
    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title><h2>當山みれい『Dear My Boo』</h2> </mat-panel-title>
        <mat-panel-description>
          ストリーミングサービスを中心に記録的なヒットとなった清水翔太『My
          Boo』を、女性目線のアンサーソングとして當山みれいがカバー!
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <iframe
          src="https://www.youtube-nocookie.com/embed/AVlaVkH9AQE?si=Wmh4LlwUdXxWF1Zv"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe
      ></ng-template>
    </mat-expansion-panel>
  </mat-card>
  <mat-card class="single-track-container">
    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title
          ><h2>NORIKIYO / 俺達の唄 feat.MACCHO</h2></mat-panel-title
        >
        <mat-panel-description>
          俺達の唄(Our Songs) by NORIKIYO from "平成エクスプレス"
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <iframe
          src="https://www.youtube-nocookie.com/embed/7s3DL2wCMEk?si=rgDChzPfgy8baAIA"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe
      ></ng-template>
    </mat-expansion-panel>
  </mat-card>
  <mat-card class="single-track-container">
    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title
          ><h2>
            DJ HASEBE / ROOM VACATION feat. 唾奇 & おかもとえみ
          </h2></mat-panel-title
        >
        <mat-panel-description>
          Manhattan Recordsよりリリースされている人気MIXCDシリーズ"CITY HIP POP
          MIX"の第3弾スペシャルチャプターのExclusive Track
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <iframe
          src="https://www.youtube-nocookie.com/embed/riJG618MTLc?si=rgDChzPfgy8baAIA"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe
      ></ng-template>
    </mat-expansion-panel>
  </mat-card>
  <mat-card class="single-track-container">
    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title
          ><h2>
            「カゲ reborn by Yamato Kasai(from Mili)」湯木慧
          </h2></mat-panel-title
        >
        <mat-panel-description>
          アルバム情報：[ 蘇生 ] 発売日: 2018年10月17日
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <iframe
          src="https://www.youtube-nocookie.com/embed/bzUYg5aBP3Q?si=-gPaCmFZ1SGe83bN"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe
      ></ng-template>
    </mat-expansion-panel>
  </mat-card>
  <mat-card class="single-track-container">
    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title><h2>みゆな - 缶ビール</h2></mat-panel-title>
        <mat-panel-description>
          2019年9月には2ndミニアルバム『ユラレル』をリリース。日常で誰もが味わったことのある感情を中毒性のある歌詞で描いた「缶ビール」など、ジャンルを問わず様々な楽曲が収録されている。
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <iframe
          src="https://www.youtube-nocookie.com/embed/4xMVemg_YOo?si=QgS86Afo3E9WEAEr"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe
      ></ng-template>
    </mat-expansion-panel>
  </mat-card>
  <mat-card class="single-track-container">
    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title><h2>SHACHI ｢Getting Lucky｣</h2></mat-panel-title>
        <mat-panel-description> Album『alone』 </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <iframe
          src="https://www.youtube-nocookie.com/embed/O0d8opRIFro?si=nKAUUfmn6Zt27pFT"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe
      ></ng-template>
    </mat-expansion-panel>
  </mat-card>
  <mat-card class="single-track-container">
    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title
          ><h2>
            KANDYTOWN - You Came Back (feat. KEIJU, IO, Holly Q, Gottz)
          </h2></mat-panel-title
        >
        <mat-panel-description
          >3rd ALBUM "LAST ALBUM" 2022.11.30
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <iframe
          src="https://www.youtube-nocookie.com/embed/ZR20KmH9s5E?si=DfQcV638yELVL5qK"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe
      ></ng-template>
    </mat-expansion-panel>
  </mat-card>
  <mat-card class="single-track-container">
    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title><h2>Hump Back - 拝啓、少年よ</h2></mat-panel-title>
        <mat-panel-description
          >2018.06.20 Release Hump Back 1st Single 「拝啓、少年よ」
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <iframe
          src="https://www.youtube-nocookie.com/embed/d6i4AtCxrDo"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
          allowfullscreen
        ></iframe
      ></ng-template>
    </mat-expansion-panel>
  </mat-card>
  <mat-card class="single-track-container">
    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title
          ><h2>ラブリーサマーちゃん「202 feat. 泉まくら」</h2></mat-panel-title
        >
        <mat-panel-description
          >完全生産限定 7inchアナログ盤 ラブリーサマーちゃん「202 feat.
          泉まくら」
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <iframe
          src="https://www.youtube-nocookie.com/embed/sS99NE4tmPQ"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
          allowfullscreen
        ></iframe
      ></ng-template>
    </mat-expansion-panel>
  </mat-card>
  <mat-card class="single-track-container">
    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title><h2>そこに鳴る - 掌で踊る</h2></mat-panel-title>
        <mat-panel-description
          >緻密に構築されたアンサンブルと超絶テクニカル重厚サウンドに、男女の幾重にも重なりあう独特のメロディー＆ハーモニーが絡み合う孤高の"そこに鳴る"サウンドは、見る者全てに衝撃を与える。
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <iframe
          src="https://www.youtube-nocookie.com/embed/n7MyoBki9wk"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
          allowfullscreen
        ></iframe
      ></ng-template>
    </mat-expansion-panel>
  </mat-card>
  <mat-card class="single-track-container">
    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title><h2>Aimer - 花鳥風月</h2></mat-panel-title>
        <mat-panel-description
          >花鳥風月 花舞う風に語り 鳥歌う月
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <iframe
          src="https://www.youtube-nocookie.com/embed/hCSP1pWse1Q"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
          allowfullscreen
        ></iframe
      ></ng-template>
    </mat-expansion-panel>
  </mat-card>
  <mat-card class="single-track-container">
    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title><h2>THE CHARM PARK『そら』</h2></mat-panel-title>
        <mat-panel-description
          >2016年12月14日発売 THE CHARM PARK 2ndミニアルバム『A REPLY』より
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <iframe
          src="https://www.youtube-nocookie.com/embed/hOpPSiQRVTk"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
          allowfullscreen
        ></iframe
      ></ng-template>
    </mat-expansion-panel>
  </mat-card>
  <mat-card class="single-track-container">
    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title
          ><h2>MAN WITH A MISSION - Dead End in Tokyo</h2></mat-panel-title
        >
        <mat-panel-description
          >2010年『MAN WITH A MISSION』が新たな使命と共に、世界中を駆けめぐる。
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <iframe
          src="https://www.youtube-nocookie.com/embed/JjIiK9VcIsA"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
          allowfullscreen
        ></iframe
      ></ng-template>
    </mat-expansion-panel>
  </mat-card>
  <mat-card class="single-track-container">
    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title><h2>西沢幸奏 / Brand-new World</h2></mat-panel-title>
        <mat-panel-description
          >TVアニメ「学戦都市アスタリスク」オープニングテーマ /「ARIA The
          AVVENIRE」主題歌 『Brand-new World / ピアチェーレ』
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <iframe
          src="https://www.youtube-nocookie.com/embed/_TF1TUP786I"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
          allowfullscreen
        ></iframe
      ></ng-template>
    </mat-expansion-panel>
  </mat-card>
  <mat-card class="single-track-container">
    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title><h2>熊川みゆ 「sixteen」</h2></mat-panel-title>
        <mat-panel-description
          >2001.2.4生まれ。熊本県出身。
          シンガーソングライターとして活動していた熊川みゆの音楽プロジェクト。
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <iframe
          src="https://www.youtube-nocookie.com/embed/K3guDpb6X5c"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
          allowfullscreen
        ></iframe
      ></ng-template>
    </mat-expansion-panel>
  </mat-card>
  <mat-card class="single-track-container">
    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title
          ><h2>vivid undress「スクランブル(SCRAMBLE)」</h2></mat-panel-title
        >
        <mat-panel-description
          >スクランブルを行き交う雑踏役のエキストラとして、公募で集ったファンおよそ50名が参加。
          ボーカル・kiilaを主軸とし、歌詞に沿ったストーリー仕立てのMVに仕上がっています!
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <iframe
          src="https://www.youtube-nocookie.com/embed/hxYrgk364pg"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
          allowfullscreen
        ></iframe
      ></ng-template>
    </mat-expansion-panel>
  </mat-card>
  <mat-card class="single-track-container">
    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title><h2>iri - Wonderland</h2></mat-panel-title>
        <mat-panel-description
          >「Wonderland」は、iriの「fruits」や「keepin’」などを手がけたPistachio
          StudioのESME
          MORIがトラックプロデュースを手がけ、軽快なキーボードが耳馴染みよく響くナンバー。
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <iframe
          src="https://www.youtube-nocookie.com/embed/3WlOZTy072k"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
          allowfullscreen
        ></iframe
      ></ng-template>
    </mat-expansion-panel>
  </mat-card>
  <mat-card class="single-track-container">
    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title><h2>あいみょん - 桜が降る夜は</h2></mat-panel-title>
        <mat-panel-description
          >ABEMA『オオカミ』シリーズ最新作『恋とオオカミには騙されない』主題歌
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <iframe
          src="https://www.youtube-nocookie.com/embed/OIT9LpQKbeg"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
          allowfullscreen
        ></iframe
      ></ng-template>
    </mat-expansion-panel>
  </mat-card>
  <mat-card class="single-track-container">
    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title><h2>阿部真央 - Sailing</h2></mat-panel-title>
        <mat-panel-description
          >同世代の女性を中心に幅広い層からの支持を得るシンガーソングライター。
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <iframe
          src="https://www.youtube-nocookie.com/embed/ax7bBq6BqsA"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
          allowfullscreen
        ></iframe
      ></ng-template>
    </mat-expansion-panel>
  </mat-card>
  <mat-card class="single-track-container">
    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title><h2>優里『ドライフラワー』</h2></mat-panel-title>
        <mat-panel-description
          >2019年12月に配信リリースされたデビュー曲「かくれんぼ」で歌われた失恋を女性目線で描いた楽曲。ミュージックビデオも「かくれんぼ」に対するアフターストーリーとなっている
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <iframe
          src="https://www.youtube-nocookie.com/embed/kzZ6KXDM1RI"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
          allowfullscreen
        ></iframe
      ></ng-template>
    </mat-expansion-panel>
  </mat-card>
  <mat-card class="single-track-container">
    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title><h2>KEISUKE - 君想い</h2></mat-panel-title>
        <mat-panel-description
          >幼馴染に想いを寄せる大学生。彼女のちょっとした仕草や言葉に一喜一憂してしまうくらいに好きだという感情が膨らむが、相手の気持ちを考えてしまうからこそ想いを伝えられないでいる、切なくもどかしい片想い。
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <iframe
          src="https://www.youtube-nocookie.com/embed/WhN58kAOIfU"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
          allowfullscreen
        ></iframe
      ></ng-template>
    </mat-expansion-panel>
  </mat-card>
  <mat-card class="single-track-container">
    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title><h2>川嶋志乃舞 『City Shake』</h2></mat-panel-title>
        <mat-panel-description
          >リード曲にカワイイポップな歌モノを引っ提げ、民謡、インスト、バラードまでまさに七変化。
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <iframe
          src="https://www.youtube-nocookie.com/embed/fJs7pU_SdHM"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
          allowfullscreen
        ></iframe
      ></ng-template>
    </mat-expansion-panel>
  </mat-card>
  <mat-card class="single-track-container">
    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title
          ><h2>Ms.OOJA「I Remember You feat. AK-69」</h2></mat-panel-title
        >
        <mat-panel-description
          >今回の楽曲はそれぞれの夢への旅路の途中でいつかの仲間を想う気持ちを歌った、優しくも力強いハートフルなメッセージソングに仕上がっている。Ms.OOJA単独名義の作品にAK-69が参加するのはこの楽曲が初めてとなり、まさにファン待望・垂涎の楽曲となっている。
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <iframe
          src="https://www.youtube-nocookie.com/embed/VyHGu_c_jHk"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
          allowfullscreen
        ></iframe
      ></ng-template>
    </mat-expansion-panel>
  </mat-card>
  <mat-card class="single-track-container">
    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title
          ><h2>
            竹内まりや - プラスティック・ラヴ (Plastic Love)
          </h2></mat-panel-title
        >
        <mat-panel-description
          >竹内が作詞・作曲を手がけ、アレンジ・プロデュースに山下達郎を迎えて制作されており、山下はギター演奏も行い、
          中西康晴、伊藤広規、青山純らによる演奏とともに竹内の歌唱を支えている。歌詞は「都会暮らしの若い女性による自由恋愛」という極めてフィクショナルなテーマを独自のセンスで描いている。
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <iframe
          src="https://www.youtube-nocookie.com/embed/T_lC2O1oIew"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
          allowfullscreen
        ></iframe
      ></ng-template>
    </mat-expansion-panel>
  </mat-card>
  <mat-card class="single-track-container">
    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title><h2>BAND-MAID / Choose me</h2></mat-panel-title>
        <mat-panel-description
          >メイドの見た目とは相反するハードなロックサウンドが、全世界のファンやメディアから支持を得ており、YouTubeの総再生回数は1億7,000万回を超える。
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <iframe
          src="https://www.youtube-nocookie.com/embed/MZIJ2vFxu9Y"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
          allowfullscreen
        ></iframe
      ></ng-template>
    </mat-expansion-panel>
  </mat-card>
  <mat-card class="single-track-container">
    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title
          ><h2>BRIDEAR - BRAVE NEW WORLD REVISITED</h2></mat-panel-title
        >
        <mat-panel-description
          >youtubeにて『BRAVE NEW WORLD
          REVISITED』を発表。「世界が一つになってコロナと戦おう」というメッセージを8分近くに及ぶ大作で表現した。
          9月～10月 コロナ禍の中、5回目となるヨーロッパツアー『 'INTO THE DARK
          FOREVER' TOUR 2021』の敢行を決断し、5カ国8都市での公演を成功させた。
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <iframe
          src="https://www.youtube-nocookie.com/embed/_6-OXcyMkYI"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
          allowfullscreen
        ></iframe
      ></ng-template>
    </mat-expansion-panel>
  </mat-card>
  <mat-card class="single-track-container">
    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title><h2>藤井 風 - まつり</h2></mat-panel-title>
        <mat-panel-description
          >アルバム制作の最後に取りかかった曲でもあるから「今できる音楽を、今言える言葉を全部詰め込んだれ」みたいな勢いで完成させることができた。その上この先何が起きようとブレないテーマを持った曲でもあるから、もう俺の葬式ではこの曲を誰か流してほしい!
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <iframe
          src="https://www.youtube-nocookie.com/embed/NwOvu-j_WjY"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
          allowfullscreen
        ></iframe
      ></ng-template>
    </mat-expansion-panel>
  </mat-card>
  <mat-card class="single-track-container">
    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title><h2>ロザリーナ 『NEVERLAND』</h2></mat-panel-title>
        <mat-panel-description
          >キュートなルックスと、 ” 忘れられない声 “。
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <iframe
          src="https://www.youtube-nocookie.com/embed/Hk4DMHAnHN0"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
          allowfullscreen
        ></iframe
      ></ng-template>
    </mat-expansion-panel>
  </mat-card>
  <mat-card class="single-track-container">
    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title><h2>chelmico「COZY」</h2></mat-panel-title>
        <mat-panel-description
          >それより前から活動してるけど、なんやかんやでメジャーデビューし、
          良い感じのラップをしている。オフの日は2人で映画を観たり、飲みに行ったりしているが、現在は自粛中。
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <iframe
          src="https://www.youtube-nocookie.com/embed/7GMVtF0Bhuo"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
          allowfullscreen
        ></iframe
      ></ng-template>
    </mat-expansion-panel>
  </mat-card>
</div>
