<div id="main-music-conatiner">
  <mat-card class="single-track-container">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title><h2>ONE OK ROCK - Clock Strikes</h2></mat-panel-title>
        <mat-panel-description>
          6th Album - 人生×僕= "JINSEI KAKETE BOKU WA"
        </mat-panel-description>
      </mat-expansion-panel-header>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube-nocookie.com/embed/6YZlFdTIdzM?si=RlIpbgdVSkriyN-5"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </mat-expansion-panel>
  </mat-card>
  <mat-card class="single-track-container">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title><h2>米津玄師 - LOSER</h2></mat-panel-title>
        <mat-panel-description>
          5th Single「LOSER / ナンバーナイン
        </mat-panel-description>
      </mat-expansion-panel-header>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube-nocookie.com/embed/Dx_fKPBPYUI?si=LX59crM72hRAalJh"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </mat-expansion-panel>
  </mat-card>
  <mat-card class="single-track-container">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title><h2>「Story of Hope」- Forever</h2></mat-panel-title>
        <mat-panel-description>
          2016/01/06に全国リリースされる2nd EP「Alethea」
        </mat-panel-description>
      </mat-expansion-panel-header>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube-nocookie.com/embed/f8aCemLHDdw?si=m8J_8aZxRjyL-Dgx"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </mat-expansion-panel>
  </mat-card>
  <mat-card class="single-track-container">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title
          ><h2>神はサイコロを振らない「秋明菊」</h2></mat-panel-title
        >
        <mat-panel-description>
          1st mini album「anfang」
        </mat-panel-description>
      </mat-expansion-panel-header>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube-nocookie.com/embed/V_cHzP8Uexw?si=P_cbdKzkqcZs8372"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </mat-expansion-panel>
  </mat-card>
  <mat-card class="single-track-container">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title><h2>みきなつみ「君へ送る唄」</h2></mat-panel-title>
        <mat-panel-description>
          2018/3/14発売ミニアルバム『きみとわたしとメロンソーダ』収録曲
        </mat-panel-description>
      </mat-expansion-panel-header>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube-nocookie.com/embed/RUfGuWeFcQY?si=hyeXC0dqQXS7a7Hw"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </mat-expansion-panel>
  </mat-card>
  <mat-card class="single-track-container">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title><h2>SECONDWALL "言葉"</h2></mat-panel-title>
        <mat-panel-description>
          会場限定シングル 『ゼロ』 9月23日
        </mat-panel-description>
      </mat-expansion-panel-header>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube-nocookie.com/embed/E7I7nREchHc?si=T_QnBx7HmdI4BVMw"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </mat-expansion-panel>
  </mat-card>
  <mat-card class="single-track-container">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title
          ><h2>Dizzy Sunfist "Into The Future“</h2></mat-panel-title
        >
        <mat-panel-description>
          Dizzy Sunfist 最高傑作2nd Full Album[DREAMS NEVER END]
        </mat-panel-description>
      </mat-expansion-panel-header>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube-nocookie.com/embed/b4lYvHE_cvM?si=mUrtqIngQqenWypR"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </mat-expansion-panel>
  </mat-card>
  <mat-card class="single-track-container">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title><h2>nolala 「グッバイライアー」</h2> </mat-panel-title>
        <mat-panel-description>
          1st Single『グッバイライアー』より、
          「グッバイライアー」のミュージックビデオ公開！
          京都発ツインボーカルスリーピースガールズバンド: nolala(のらら)
          メンバー Gt.Vo.千陽 Ba.Vo.美寿々 Dr.Cho.ひな
        </mat-panel-description>
      </mat-expansion-panel-header>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube-nocookie.com/embed/uAXIaft7fwI?si=Ko08gKAOQWRqVbJC"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </mat-expansion-panel>
  </mat-card>
  <mat-card class="single-track-container">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title><h2>當山みれい『Dear My Boo』</h2> </mat-panel-title>
        <mat-panel-description>
          ストリーミングサービスを中心に記録的なヒットとなった清水翔太『My
          Boo』を、女性目線のアンサーソングとして當山みれいがカバー!
        </mat-panel-description>
      </mat-expansion-panel-header>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube-nocookie.com/embed/AVlaVkH9AQE?si=Wmh4LlwUdXxWF1Zv"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </mat-expansion-panel>
  </mat-card>
  <mat-card class="single-track-container">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title
          ><h2>NORIKIYO / 俺達の唄 feat.MACCHO</h2></mat-panel-title
        >
        <mat-panel-description>
          俺達の唄(Our Songs) by NORIKIYO from "平成エクスプレス"
        </mat-panel-description>
      </mat-expansion-panel-header>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube-nocookie.com/embed/7s3DL2wCMEk?si=rgDChzPfgy8baAIA"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </mat-expansion-panel>
  </mat-card>
  <mat-card class="single-track-container">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title
          ><h2>
            DJ HASEBE / ROOM VACATION feat. 唾奇 & おかもとえみ
          </h2></mat-panel-title
        >
        <mat-panel-description>
          Manhattan Recordsよりリリースされている人気MIXCDシリーズ"CITY HIP POP
          MIX"の第3弾スペシャルチャプターのExclusive Track
        </mat-panel-description>
      </mat-expansion-panel-header>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube-nocookie.com/embed/riJG618MTLc?si=rgDChzPfgy8baAIA"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </mat-expansion-panel>
  </mat-card>
  <mat-card class="single-track-container">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title
          ><h2>
            「カゲ reborn by Yamato Kasai(from Mili)」湯木慧
          </h2></mat-panel-title
        >
        <mat-panel-description>
          アルバム情報：[ 蘇生 ] 発売日: 2018年10月17日
        </mat-panel-description>
      </mat-expansion-panel-header>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube-nocookie.com/embed/bzUYg5aBP3Q?si=-gPaCmFZ1SGe83bN"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </mat-expansion-panel>
  </mat-card>
  <mat-card class="single-track-container">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title><h2>みゆな - 缶ビール</h2></mat-panel-title>
        <mat-panel-description>
          2019年9月には2ndミニアルバム『ユラレル』をリリース。日常で誰もが味わったことのある感情を中毒性のある歌詞で描いた「缶ビール」など、ジャンルを問わず様々な楽曲が収録されている。
        </mat-panel-description>
      </mat-expansion-panel-header>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube-nocookie.com/embed/4xMVemg_YOo?si=QgS86Afo3E9WEAEr"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </mat-expansion-panel>
  </mat-card>
  <mat-card class="single-track-container">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title><h2>SHACHI ｢Getting Lucky｣</h2></mat-panel-title>
        <mat-panel-description> Album『alone』 </mat-panel-description>
      </mat-expansion-panel-header>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube-nocookie.com/embed/O0d8opRIFro?si=nKAUUfmn6Zt27pFT"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </mat-expansion-panel>
  </mat-card>
  <mat-card class="single-track-container">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header collapsedHeight="100px">
        <mat-panel-title
          ><h2>
            KANDYTOWN - You Came Back (feat. KEIJU, IO, Holly Q, Gottz)
          </h2></mat-panel-title
        >
        <mat-panel-description
          >3rd ALBUM "LAST ALBUM" 2022.11.30
        </mat-panel-description>
      </mat-expansion-panel-header>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube-nocookie.com/embed/ZR20KmH9s5E?si=DfQcV638yELVL5qK"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </mat-expansion-panel>
  </mat-card>
</div>
