<div id="main-code-conatiner">
  <div class="two-cols-container">
    <div class="two-cols-container-child">
      <mat-card>
        <mat-card-header><h1>JUZGO</h1></mat-card-header>
        <mat-card-content>
          <h2>React, React Native, Firebase, Git</h2>
          <p>
            A housing management mobile application built using React Native.
          </p>
          <div class="image-columns">
            <img mat-card-image src="/assets/code/juzgo1.png" />
            <img mat-card-image src="/assets/code/juzgo2.png" />
            <img mat-card-image src="/assets/code/juzgo3.png" />
          </div>
          <p>
            See codebase on
            <a href="https://github.com/sean-xiao-zhao7/juzgo">On Github.</a>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="two-cols-container-child">
      <mat-card>
        <mat-card-header><h1>Fellowship GTA</h1></mat-card-header>
        <mat-card-content>
          <h2></h2>
          <a href="nodis.io">Link</a>
          <p>
            A social media application that allow authenicated users to post and
            join challenges.
          </p>
          <img mat-card-image src="/assets/code/nodis.png" />
        </mat-card-content>
      </mat-card>
    </div>
    <div class="two-cols-container-child">
      <mat-card>
        <mat-card-header><h1>Cyan Zen Garden</h1></mat-card-header>
        <mat-card-content>
          <h2></h2>
          <a href="nodis.io">Link</a>
          <p>
            A social media application that allow authenicated users to post and
            join challenges.
          </p>
          <img mat-card-image src="/assets/code/nodis.png" />
        </mat-card-content>
      </mat-card>
    </div>
    <div class="two-cols-container-child">
      <mat-card>
        <mat-card-header> <h1>Raymond Mowla Music</h1></mat-card-header>
        <mat-card-content>
          <h2>Algorithms</h2>
          <a href="nodis.io">Link</a>
          <p>
            A social media application that allow authenicated users to post and
            join challenges.
          </p>
          <img mat-card-image src="/assets/code/nodis.png" />
        </mat-card-content>
      </mat-card>
    </div>
    <div class="two-cols-container-child">
      <mat-card>
        <mat-card-header><h1>Nodis.io</h1></mat-card-header>
        <mat-card-content>
          <a href="nodis.io">Link</a>
          <h2>React</h2>
          <p>
            A social media application that allow authenicated users to post and
            join challenges.
          </p>
          <img mat-card-image src="/assets/code/nodis.png" />
        </mat-card-content>
      </mat-card>
    </div>
    <div class="two-cols-container-child">
      <mat-card>
        <mat-card-header
          ><h1>
            University of Toronto Libraries Repositories
          </h1></mat-card-header
        >
        <mat-card-content>
          <h2></h2>
          <a href="nodis.io">Link</a>
          <p>
            A social media application that allow authenicated users to post and
            join challenges.
          </p>
          <img mat-card-image src="/assets/code/nodis.png" />
        </mat-card-content>
      </mat-card>
    </div>
    <div class="two-cols-container-child">
      <mat-card>
        <mat-card-header><h1>PWA</h1></mat-card-header>
        <mat-card-content>
          <h2>Caching Test</h2>
          <a href="nodis.io">Link</a>
          <p>
            A social media application that allow authenicated users to post and
            join challenges.
          </p>
          <img mat-card-image src="/assets/code/nodis.png" />
        </mat-card-content>
      </mat-card>
    </div>
    <div class="two-cols-container-child">
      <mat-card>
        <mat-card-header><h1>Vanilla JavaScript</h1></mat-card-header>
        <mat-card-content>
          <h2>Raymond Mowla Music</h2>
          <a href="nodis.io">Link</a>
          <p>
            A social media application that allow authenicated users to post and
            join challenges.
          </p>
          <img mat-card-image src="/assets/code/nodis.png" />
        </mat-card-content>
      </mat-card>
    </div>
    <div class="two-cols-container-child">
      <mat-card>
        <mat-card-header><h1>CSS3 / SASS</h1></mat-card-header>
        <mat-card-content>
          <h2>Nodis.io</h2>
          <a href="nodis.io">Link</a>
          <p>
            A social media application that allow authenicated users to post and
            join challenges.
          </p>
          <img mat-card-image src="/assets/code/nodis.png" />
        </mat-card-content>
      </mat-card>
    </div>
    <div class="two-cols-container-child">
      <mat-card>
        <mat-card-header><h1>Docker</h1></mat-card-header>
        <mat-card-content>
          <h2>Nodis.io</h2>
          <a href="nodis.io">Link</a>
          <p>
            A social media application that allow authenicated users to post and
            join challenges.
          </p>
          <img mat-card-image src="/assets/code/nodis.png" />
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
