<div id="main-code-conatiner">
  <div class="two-cols-container">
    <div class="two-cols-container-child">
      <mat-card>
        <mat-card-header><h1>JUZGO</h1></mat-card-header>
        <mat-card-content>
          <h2>React, React Native, Firebase, Git</h2>
          <p>
            A housing management mobile application built using React Native.
          </p>
          <div class="image-columns">
            <img mat-card-image src="/assets/code/juzgo1.png" />
            <img mat-card-image src="/assets/code/juzgo2.png" />
            <img mat-card-image src="/assets/code/juzgo3.png" />
          </div>
          <p class="icon-p-center">
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="share"
            ></mat-icon>
            <a href="https://github.com/sean-xiao-zhao7/juzgo">
              Codebase hosted on Github</a
            >
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="two-cols-container-child">
      <mat-card>
        <mat-card-header
          ><h1>
            University of Toronto Libraries Repositories
          </h1></mat-card-header
        >
        <mat-card-content>
          <h2>Java, Python, PHP, Drupal, Linux</h2>
          <p>Repository for preservation of research and data.</p>
          <img mat-card-image src="/assets/code/tspace1.png" />
          <p>
            See live site at
            <a href="https://tspace.library.utoronto.ca/"
              >https://tspace.library.utoronto.ca/</a
            >
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="two-cols-container-child">
      <mat-card>
        <mat-card-header><h1>Fellowship GTA</h1></mat-card-header>
        <mat-card-content>
          <h2>Vue.js, HTML5, SASS, CSS3, Github</h2>
          <p>Vue.js web application for an NPO organisation.</p>
          <img mat-card-image src="/assets/code/fellowship1.png" />
          <p>
            <a href="https://www.fellowshipgta.ca/">Visit live site.</a>
          </p>
          <p>
            See codebase on
            <a href="https://github.com/sean-xiao-zhao7/juzgo">On Github.</a>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="two-cols-container-child">
      <mat-card>
        <mat-card-header> <h1>Raymond Mowla Music</h1></mat-card-header>
        <mat-card-content>
          <h2>ES6 JavaScript, SASS, HTML5, CSS3, Shell</h2>
          <p>Music release and promotion web application for local musician.</p>
          <img mat-card-image src="/assets/code/ray1.png" />
          <p>
            <a href="https://www.raymondmowlamusic.com/">Visit live site.</a>
          </p>
          <p>
            See codebase on
            <a href="https://github.com/sean-xiao-zhao7/ray">On Github.</a>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="two-cols-container-child">
      <mat-card>
        <mat-card-header><h1>Nodis.io</h1></mat-card-header>
        <mat-card-content>
          <h2>React, React Native, CSS3, HTML5, Node.js, MongoDB</h2>
          <p>
            A social media application that allow authenicated users to post and
            join challenges.
          </p>
          <img mat-card-image src="/assets/code/nodis.png" />
        </mat-card-content>
      </mat-card>
    </div>
    <div class="two-cols-container-child">
      <mat-card>
        <mat-card-header><h1>Samiya International</h1></mat-card-header>
        <mat-card-content>
          <h2>React, HTML5, SASS, CSS3, Github</h2>
          <p>React web application for an international NPO organisation.</p>
          <img mat-card-image src="/assets/code/fellowship1.png" />
          <p>
            See codebase on
            <a href="https://github.com/sean-xiao-zhao7/samiya">On Github.</a>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="two-cols-container-child">
      <mat-card>
        <mat-card-header><h1>Cyan Zen Garden</h1></mat-card-header>
        <mat-card-content>
          <h2>Angular, Material Design, SASS, HTML5, Midjourney</h2>
          <p>This website.</p>
          <img mat-card-image src="/assets/code/zen1.png" />
          <p>
            See codebase on
            <a href="https://github.com/sean-xiao-zhao7/personal_production"
              >On Github.</a
            >
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="two-cols-container-child">
      <mat-card>
        <mat-card-header><h1>JBook</h1></mat-card-header>
        <mat-card-content>
          <h2>React, TypeScript, ESBuild, HTML5, CSS3</h2>
          <p>A in-browser transpiler using ESBuild.</p>
          <img mat-card-image src="/assets/code/nodis.png" />
          <p>
            See codebase on
            <a href="https://github.com/sean-xiao-zhao7/react-ts-jbook"
              >On Github.</a
            >
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="two-cols-container-child">
      <mat-card>
        <mat-card-header><h1>Algorithms Collection</h1></mat-card-header>
        <mat-card-content>
          <h2>Python, Algorithms</h2>
          <p>A series of algorithms written in Python.</p>
          <img mat-card-image src="/assets/code/nodis.png" />
          <p>
            See codebase on
            <a href="https://github.com/sean-xiao-zhao7/algorithm-questions"
              >On Github.</a
            >
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
