<div id="main-code-conatiner">
  <div class="two-cols-container">
    <div class="two-cols-container-child"><h1>React</h1></div>
    <div class="two-cols-container-child">
      <mat-card>
        <h1>React Native</h1>
      </mat-card>
    </div>
    <div class="two-cols-container-child">
      <h1>Vue.js</h1>
    </div>
    <div class="two-cols-container-child">
      <h1>Angular</h1>
    </div>
    <div class="two-cols-container-child">
      <h1>Python</h1>
    </div>
    <div class="two-cols-container-child">
      <h1>Java</h1>
    </div>
    <div class="two-cols-container-child">
      <h1>PWA</h1>
    </div>
    <div class="two-cols-container-child">
      <h1>Vanilla JavaScript</h1>
    </div>
    <div class="two-cols-container-child">
      <h1>CSS3 / SASS</h1>
    </div>
    <div class="two-cols-container-child">
      <h1>Docker</h1>
    </div>
  </div>
</div>
